@import '../../../assets/scss/base';

.WorkflowDesignSetup .rsw_2f{
    height: 65vh;
}

.first-step{
    max-width: 80% !important;
    margin: 0 auto;
}
#workflow-setting-variable-container {
    #workflow-setting-variable-inner {
        table {
            td, th {
                text-align: center;
                span {
                    color: $orange-color-500;
                    cursor: pointer;
                    &:hover {
                        color: $orange-color-400;
                    }
                }
            }
        }
    }
    .form-variable-setting {
        position: absolute;
        .mask {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $grey-background;
            z-index: 999;
        }
        .form-variable-setting-inner {
            z-index: 1000;
            width: 40vw;
            background-color: $white-color;
            padding: 15px;
            border-radius: 4px;
            border: 1px solid $node-border-color;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .button-cancel {
                position: absolute;
                bottom: 25px;
                right: 15px;
            }
        }
    }
}
