@import '../../../../assets/scss/base';

#task-palette-wrapper .task-parent-wrapper .task-parent-header {
    cursor: pointer !important;
}

.task-parent-wrapper {
    background-color: #F5F5F5;
    margin-bottom: 10px;
    padding: $layout-padding-ver $layout-padding-ver;
    .task-parent-header {
        display: flex;
        color: #fff;
        .task-parent-icon {
            height: $palette-temp-height;
            color: #4285f4;
            width: $icon-size - 0.5rem;
            line-height: $palette-temp-height;
            font-size: $icon-size - 0.8rem;
            cursor: pointer;
            &:hover {
                color: $grey-color-600;
            }
        }
        .task-parent-title {
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            font-size: $fts-body;
            height: $palette-temp-height;
            line-height: $palette-temp-height;
            color: #6c757d;
            font-weight: 600;
            .task-palette-temp {
            }
        }
    }
    .task-parent-symbols {
        margin-top: $layout-padding-ver;
        .task-palette-item {
            cursor: pointer;
            width: 100%;
            color: $grey-color-600;
            margin-bottom: $task-temp-gap;
            border-radius: 4px;
            height: $palette-item-height;
            font-size: $fts-body;
            line-height: $palette-item-height;
            text-align: left;
            background-color: $white-color;
            display: flex;
            .task-palette-icon {
                width: $icon-size;
                font-size: 1rem;
                text-align: center;
                line-height: $palette-item-height;
                background-color: #4285f4;
                color : #fff;
            }
            .task-palette-title {
                text-align: left;
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 0.7rem;
            }
            &.task-palette-temp {
                height: $palette-temp-height;
                .task-palette-icon,
                .task-palette-title {
                    // height: $palette-temp-height;
                    line-height: $palette-temp-height;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 0.7rem;
                }
                .task-palette-title {
                    border-bottom: 1px solid #D1D1D1;
                    padding-left: 0.5rem;
                    border-top: 1px solid #D1D1D1;
                    border-right: 1px solid #D1D1D1;
                }
            }
        }
    }
}
