@import '../../../../assets/scss/base';

$minus-icon-size: 36px;

#task-palette-container {


    position: absolute;
    z-index: 999;
    left: 0;
    // top: $header-height + $header-margin - ($designer-tab-height - $designer-tab-func-btn-height)/2 + $designer-tab-height;
    top: 0;
    height: calc(100vh - 110px);
    #task-palette-inner {
        // margin-top: $header-height + $header-margin + $designer-tab-height;
        height: 100%;
        padding: 24px;
        width: 20rem;
        min-height: $minus-icon-size;
        transition: width 0.25s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
        background: border-box #E8E8E8;
        overflow-wrap: break-word;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        &.minimize {
            width: 0;
            padding: 0;
            box-shadow: none;
        }
        #task-palette-minimize {
            height: $minus-icon-size;
            width: $minus-icon-size * 0.7;
            position: absolute;
            top: 0;
            right: 0 - $minus-icon-size * 0.7 + 1px;
            font-size: 24px;
            text-align: center;
            line-height: $minus-icon-size;
            color: $grey-color-500;

            box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
            background: border-box white;
            overflow-wrap: break-word;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;

            // border-radius: 4px;
            cursor: pointer;
            &:hover {
                color: $grey-color-600;
            }
        }
        #task-palette-title {
            font-size: $fts-body;
            text-align: center;
            font-weight: $ftw-medium;
            margin-bottom: $layout-padding;
            color: $new-grey-color;
        }
        #task-palette-wrapper {
        }

        #task-palette-search-wrapper{

            .topnav-search{
                border: 1px solid #dee2e6;
                margin-bottom: 10px;
            }

              
            .topnav-search input[type=text] {
                outline: none !important;
                padding: 5px;
                font-size: 18px;
                border: none;
              }
              
              .topnav-search .search-container button{
                outline: none !important;
                padding: 9px 20px;
                background: #fff;
                font-size: 17px;
                border: none;
                cursor: pointer
              }
              
              .fa-search{
                color: #4285f4;
              }

              @media screen and (max-width: 600px) {
                .topnav-search .search-container {
                  float: none;
                }
                .topnav-search a, .topnav-search input[type=text], .topnav-search .search-container button {
                  float: none;
                  display: block;
                  text-align: left;
                  width: 100%;
                  margin: 0;
                  padding: 14px;
                }
                .topnav-search input[type=text] {
                  border: 1px solid #ccc;  
                }
              }
        }

      
    }
}
