.formbuilder .formcomponents {
  padding-left: 2px;
}

.page-list .layout-main-div{
  margin: 0;
  margin-right: 10px;
  background: #fff;
}
.page-list .layout-dropdown 
{
  padding: 8px 20px 8px 8px;
  border: none !important;
  border-radius: 5px !important;
}
