.collection-data-list .table-bordered {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.collection-data-list tbody {
    overflow-y: scroll;
    overflow-x: hidden;
}
.collection-data-list .react-bootstrap-table {
    padding-top: 0 !important;
}

.collection-data-list .react-bs-table-sizePerPage-dropdown {
    position: relative !important;
}

.not-visible {
    text-align: center;
    height: 80vh;
    background: #fff;
    padding-top: 10px;
}
