.create-app-page {
	margin: 0 10vw;
}

.create-app-page > .title {
	margin-bottom: 20px;
	text-align: center;
}

.create-app-page .app-preview-container {
	margin-top: -22px;
	text-align: center;
}
.create-app-page .app-preview-container .container {
	width: 100%;
	display: block;
}

.create-app-page .btn-create-app {
	margin-top: 20px;
	display: inline-block;
}

.create-app-page .btn-check-app-name {
	margin-top: 22px;
}

.create-app-page .selected-users {
	margin: 0;
}

.create-app-page .input-field {
	margin-bottom: 0 !important;
}

.create-app-page #app-preview {
	display: inline-block;
	width: 80px;
	height: 62px;
	text-align: center;
	font-size: 12px;
	padding: 8px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	color: #009688;
}

.create-app-page #app-preview > i {
	width: 100%;
}

.create-app-page-model .material-icons {
	font-size: 45px !important;
}

.create-app-page-model .md-form {
	margin: 5px !important;
}

.sidenav-page-model {
	max-width: 100% !important;
}

.sidenav-page-model .modal-content {
	box-shadow: inherit !important;
	background-color: inherit !important;
    border: inherit;
}

.cursor-pointer {
	cursor: pointer;
}

.create-app-page-model button[type="next"] {
	margin-left: 530px;
}

/* for fist.js */
.create-app-page-model .form {
	margin-top: -20px;
}

/* for second.js */
.has-search {
	margin-left: 200px;
}

.form-control-feedback {
	margin-right: 10px;
}

.create-app-page-model .search-box {
	height: 35px;
    width: 33%;
    margin-bottom: 10px;
}

.create-app-page-model .btn-search {
	height: 35px;
	margin-top: 1px;
}
.create-app-page-model .select {
	margin-left: 1px;
	border-style: groove !important;
	border-bottom: groove !important;
	width: 25% !important;
	height: 35px !important;
	border-radius: 5px !important;
}

.create-app-page-model .body-content {
	height: 350px;
}


.form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #2bbbad;
	margin-left: 150px;
	margin-top: -3px;
}

.app-step-third .formBasicCheckbox{
	margin-bottom: 0px i !important;
}

.create-app-page-model .page_layouts{
	width: 100px;
}
.create-app-page-model .body{
	background-color: rgb(255, 255, 255);
	height: 360px;
}

.create-app-page-model .col-sm-3{
	margin: 10px;
}

.logo-list{
	height: 188px;
    border-style: groove;
	border: 1px solid;
    overflow: auto;
}

.appLogo{
	text-align: center;
}

.table-responsive{
	width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-setting .is-app-toggle.CustomToggle .dropdown-menu{
	right: 75px !important;
    left: auto !important;
    top: -120px !important;
}
.app-setting .is-app-version-toggle.CustomToggle .dropdown-menu{
	right: 75px !important;
    left: auto !important;
    top: -60px !important;
}

.app-setting .is-system-toggle.CustomToggle .dropdown-menu{
	right: 75px !important;
    left: auto !important;
    top: 0px !important;
}