.action-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
.action-labeled {padding-top: 0;padding-bottom: 0;}
.action { margin-bottom:10px; }
.input-group-addon{color:#ff0000; background-color: #ffffff;}
.action-container{       
  }
.leftLogo {
    position: relative;
    border: black solid;
    background-color: black;
    color: white;
    font-family: Courier, Courier New;
}


.rightLogo {
    border: black dashed;
    background: pink;
    color: black;
}

.logo
{
    float: left;
    vertical-align: middle;
}